@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

content {
	width: 75vw;
	max-width: 1200px;
}

.post-header-container {
	height: var(--article-height);
	position: relative;
	z-index: -1;
	top: -5vh;
}

.post-header {
	position: sticky;
	top: calc(0px - var(--nav-height) + 5vh);
	left: 0;
	z-index: -2;
	padding-top: 8vh;
}

.header,
.post-header {
	font-size: var(--h1-size);
	display: flex;
    justify-content: center;
    color: var(--primary-color);
	font-family: 'Press Start 2P', cursive;
}

body > main > content > .post-header-container ~ h2 {
	margin-top: calc(0px - var(--article-height) + (var(--h1-size) * 4));
}

.header-space {
	position: absolute;
	background: var(--header-gradient);
	height: 160vh !important;
	width: 100vw;
	z-index: -1;
	top: calc(var(--nav-height) + (var(--h1-size) * 3));
	left: 0;
	max-height: 1000px;
}

.wp-block-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* TIMELINE */
.cd-timeline-img {
	position: absolute;
	left: -5px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	box-shadow: 0 0 0 4px #fff,inset 0 2px 0 rgba(0,0,0,.08),0 3px 0 4px rgba(0,0,0,.05);
	display: flex;
	justify-content: center;
	align-items: center;
}

.cd-timeline-content h2 {
	margin: 0;
	line-height: 2rem;
}

.cd-timeline-item-title > span {
	font-size: 1rem;
	text-align: center;
}

.the-excerpt > p {
    font-size: 1.25rem;
    line-height: 2rem;
}